.main__area {
    margin: 4rem 3rem;
}

.main__area .products__header {
    text-align: center;
    margin: 1rem 0 4rem 0;
}

.main__area .products__header p {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.main__area .products__area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.8rem;
}

@media screen and (max-width: 500px) {
    
    .main__area .products__header p {
        font-size: 3rem;
        text-transform: uppercase;
        margin-top: 3rem;
    }

}