.navbar {
    position: "sticky"!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: rgb(241, 124, 124);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
}

.logo__area {
    color: white;
}

.fa-shopping-basket {
    font-size: 2rem;
}

.menu__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

li {
    margin: 0rem 1rem;
}

li a {
    color: white;
    font-weight: bolder;
    font-size: 1.1rem;
}