* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    overflow-x: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}